
body.modal-open {
  overflow: hidden;
}

.app-container {
  width: 700px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(225, 150, 10, 0.1);
  border: 2px solid #f79e0f; 
  z-index: 1;
}

.app-header {
  text-align: center;
  font-size: 30px;
  color: #333;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
 
  transition: color 0.3s, text-shadow 0.3s;
}

.form-group {
  margin-bottom: 25px;
}

.form-control {
  width: 90%;
  padding: 10px;
  font-size: 17px;
  border: 1px solid #00000046; 
  border-radius: 4px;
  transition: border-color 0.3s; 
}

.form-control-select {
  width: 100%;
}
.form-control:hover {
  border-color: #f79e0f; 
}
.compare-btn-container {
  text-align: center;
  margin-top: 20px; 
}

.compare-btn {
  text-align: center;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  font-size: 17px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s; 
}

.compare-btn:hover {
  background-color: #0056b3;
}

.result-text {
  font-weight: bold;
  font-size: 18px;
  color: #333;
  margin-top: 10px;
}

.custom-modal {
  border: 2px solid #f79e0f;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2; 
  backdrop-filter: blur(5px); 
}

.custom-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; 
}
.custom-modal h2{
  color: red;
  text-align: center;
}
.custom-modal p {
  font-size: 17px; 
}

.custom-modal ul {
  font-size: 17px; 
}

.custom-modal li {
  font-size: 17px; 
}
.close-btn {
  background-color: #007bff;
  color: #fff;
  padding: 12px 24px; 
  font-size: 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.close-btn:hover {
  background-color: #0056b3;
}
@media (max-width: 600px) {
  .app-container {
    width: 90%;
    padding: 10px;
  }

  .app-header {
    font-size: 24px;
  }

  .form-control {
    width: 90%;
  }

  .compare-btn {
    padding: 8px 16px;
    font-size: 16px;
  }

  .result-text {
    font-size: 16px;
  }

  .custom-modal {
    max-width: 100%;
    padding: 10px;
  }

  .custom-modal h2 {
    font-size: 20px;
  }

  .custom-modal p,
  .custom-modal ul,
  .custom-modal li {
    font-size: 14px;
  }

  .close-btn {
    padding: 10px 20px;
    font-size: 16px;
  }
}