/* App.css */

body.modal-open {
  overflow: hidden; /* Prevent scrolling on the body when the modal is open */
}

.app-container {
  width: 700px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(225, 150, 10, 0.1);
  border: 2px solid #f79e0f; /* Border around the entire content */
  z-index: 1;
}

.app-header {
  text-align: center;
  font-size: 30px;
  color: #333;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Adds a subtle text shadow */
 
  transition: color 0.3s, text-shadow 0.3s;
}

.form-group {
  margin-bottom: 25px;
}

.form-control {
  width: 90%;
  padding: 10px;
  font-size: 17px;
  border: 1px solid #00000046; /* Border around the input boxes */
  border-radius: 4px;
  transition: border-color 0.3s; /* Add transition for smooth hover effect */
}

.form-control-select {
  width: 100%;
}
.form-control:hover {
  border-color: #f79e0f; /* Glow effect on hover */
}
.compare-btn-container {
  text-align: center;
  margin-top: 20px; /* Adjust the margin as needed */
}

.compare-btn {
  text-align: center;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  font-size: 17px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s; /* Add transition for smooth hover effect */
}

.compare-btn:hover {
  background-color: #0056b3;
}

.result-text {
  font-weight: bold;
  font-size: 18px;
  color: #333;
  margin-top: 10px;
}

.custom-modal {
  border: 2px solid #f79e0f;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2; /* Set a higher stacking order for the modal */
  backdrop-filter: blur(5px); /* Apply a blur effect to the modal background */
}

.custom-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* Ensure the overlay is below the modal */
}
.custom-modal h2{
  color: red;
  text-align: center;
}
.custom-modal p {
  font-size: 17px; /* Set font size to 16px for <p> elements in the modal */
}

.custom-modal ul {
  font-size: 17px; /* Set font size to 15px for <ul> elements in the modal */
}

.custom-modal li {
  font-size: 17px; /* Set font size to 15px for <li> elements in the modal */
}
.close-btn {
  background-color: #007bff;
  color: #fff;
  padding: 12px 24px; /* Adjust padding as needed */
  font-size: 18px; /* Adjust font size as needed */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s; /* Add transition for smooth hover effect */
}

.close-btn:hover {
  background-color: #0056b3;
}